@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Crimson Text", serif;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  max-width: 43em;
  margin: auto;
  padding: 0 1em .5em 1em;
}

article h1 {
  font-weight: normal;
  margin: .65em 0 0 0;
}

article header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1.4rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 1.125rem;
  margin: auto;
}

.quote {
  color: #999;
}

article p,
ol {
  margin-top: 0;
  margin-bottom: 1.3rem;
  line-height: 1.3;
  margin-left: 0;
  margin-right: 0;
}

article ol {
  padding: 0;
}

@media only screen and (min-width: 38em) {

  article {
    font-size: 110%;
    line-height: 1.6;
  }

  article p {
    margin-bottom: 1.6rem;
  }

  article header {
    margin-bottom: 1rem;
  }

  article blockquote {
    font-size: 120%;
  }
}

@media only screen and (min-width: 60em) {

  article {
    font-size: 120%;
    line-height: 2;
  }

  article p {
    margin-bottom: 2rem;
  }

  article header {
    margin-bottom: 1rem;
  }

  article blockquote {
    font-size: 130%;
  }
}

@media only screen and (min-width: 90em) {

  article {
    font-size: 130%;
  }

  article > p:last-child {
    padding-bottom: 1.5rem;
  }

}
